<footer class="footer">
    <div class="footer__container">
        <div class="row">
            <div class="footer-col">
                <ul>
                    <h4>Zenza</h4>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <h4>компания</h4>
                    <li><a href="#">о нас</a></li>
                    <li><a href="#">наши услуги</a></li>
                    <li><a href="#">политика конфиденциальности</a></li>
                    <li><a href="#">партнерская программа</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <h4>помощь</h4>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">доставка</a></li>
                    <li><a href="#">возвраты</a></li>
                    <li><a href="#">статус заказа</a></li>
                    <li><a href="#">варианты оплаты</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <h4>онлайн магазин</h4>
                    <li><a href="#">часы</a></li>
                    <li><a href="#">сумки</a></li>
                    <li><a href="#">обувь</a></li>
                    <li><a href="#">платья</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <h4>онлайн магазин</h4>
                    <li><a href="#">часы</a></li>
                    <li><a href="#">сумки</a></li>
                    <li><a href="#">обувь</a></li>
                    <li><a href="#">платья</a></li>
                </ul>
            </div>
        </div>
        <div class="line-menu"></div>
        <div class="justify--start">
            <ul>
                <li>
                    ©2024 Zenza. All Rights Reserved(Test). Designed By <i class="fa fa-heart" aria-hidden="true"
                        style="color: #F07272;"></i> <span class="highlighted-text">Alisher and Ernur
                        SE-2215</span>
                </li>
            </ul>
            <div class="justify--end">
                <ul>
                    <li>
                        <a class="" href="">
                            <i class="fa-brands fa-square-whatsapp fa-3x"></i>
                        </a>
                        <a class="" href="">
                            <i class="fa-brands fa-square-facebook fa-3x"></i>
                        </a>
                        <a class="" href="">
                            <i class="fa-brands fa-square-instagram fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>