.list__unstyled {
    list-style: none;
    text-decoration: none;
}

.article__top-information {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    padding: 0 0 0 0;
}

/* top--menu */

.article__top-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;

    height: 80px;
    padding: 0 40px;

    border-bottom: 1px solid #DDDDDD;
}

.menu-active {
    background-color: #E8F4F8;
    border-radius: 8px;
}

.menu-active a.text-active {
    color: #009DE0 !important;
}

/* paddings, margins */

.article__top-text__padding {
    padding: 0 20px 0 0;
}

.article__menu-text__padding {
    padding: 0 1.5em;
}

/* menu card */

.menu-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 38px;
    flex-wrap: wrap;
}

.menu-card {
    position: relative;
    padding: 12px;

    border: 1px solid #ccc;
    width: 100%;
    height: 8.75rem;
    border-radius: 8px;
    box-shadow: -1px 1px #DFDFDF;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.menu-card__information {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-wrap: break-word;
}

.menu-card__information-price {
    padding: 10px 0 0 0;
    color: #009DE0;
    margin-top: auto;
}

.menu-card__information-title {
    padding-right: 12px;
    color: rgb(32, 33, 37);
    min-height: 1.375rem;
    font-weight: 700;
    text-transform: none;
    text-align: start;
    overflow: hidden;
    font-size: 1em;
    overflow-wrap: break-word;
}

.menu-card__information-ingredients {
    font-size: 0.875rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    overflow: hidden;
    color: #969697;
}

.menu-card__white {
    color: white;
}

.menu-card__button-like>.menu-card__white:hover {
    color: red;
    transition: all 0.2s ease;
}

.icon__settings {
    padding: 12px 16px 12px 16px;
}

.menu-image__settings {
    width: 230px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.menu-card__add {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    margin: 12px;
    background-color: #E8F4F7;
    color: #009DE0;
    border-radius: 0 8px 0 1.6em;
    font-size: 16px;
}

.menu-card__add i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
}


.menu-card__add:hover {
    background-color: #d8ecf1;
    transition: all 0.2s ease-in-out;
}

.counter {
    display: none;
    padding: 0 1.5em;
}

/* cart */

.menu__cart {
    position: fixed;
    z-index: 9999;
    bottom: 0px;
    right: 10px;
    cursor: pointer;
}

.menu__cart--child {
    font-family: 'Valio Omnes Semibold';
    padding: 12px;
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #009DE0;
    color: #fff;
    border-radius: 12px 12px 0 0;
}

/* menu media */

@media screen and (max-width: 1486px) {
    .menu-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 998px) {
    .menu-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* media for card button */

.department {
    padding: 10px 65px 10px 40px;
    margin: 20px 0;
}

.department-text {
    padding: 0 0 20px 0;
}

/* Search button*/

.search {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
}

.search__container {
    display: flex;
    align-items: center;
}

.search__menu {
    border-radius: 8px 0 0 8px;
    background-color: #DDDDDD;
    border: none;
    outline: none;
    color: #009DE0;
    height: 40px;
    width: 160px;
    box-sizing: border-box;
    margin: 10px 5px 10px 0;
}

.search__button {
    background-color: #DDDDDD;
    border: none;
    outline: none;
    border-radius: 0 8px 8px 0;
    height: 40px;
    width: 40px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Test section about more (dropdown) */

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: all 0.3 ease-in-out;
}

.individual-menu-card {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 580px;
    background-color: #fff;
    border-radius: 12px;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.individual-menu-card.show {
    opacity: 1;
    visibility: visible;
}

#individual-menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-wrap: break-word;
    height: 100%;
}

.individual-menu-card__information {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-wrap: break-word;
    height: 100%;
}

#individual-menu-content img {
    width: auto;
    height: auto;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.individual-menu-card__information {
    margin: 12px;
}

.individual-title {
    color: rgb(32, 33, 37);
    font-family: 'Valio Omnes Semibold';

    min-height: 1.375rem;
    font-weight: 700;
    text-transform: none;
    text-align: start;
    overflow: hidden;
    font-size: 1.6em;
    overflow-wrap: break-word;
}

.individual-ingredients {
    font-family: 'Valio Omnes Semibold';

    font-size: 1.2rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    overflow: hidden;
    color: #969697;

    padding: 5px 0;
}

.individual-price {
    color: #009DE0;
    font-weight: 600;
}

/* drawer */

.drawer {
    width: 420px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -800px;
    height: 100%;
    padding: 20px;
    transition: right 0.4s ease-in-out;
    z-index: 10000;
    border-radius: 12px 0 0 12px;
}

#closeDrawer {
    display: flex;
    justify-content: end;
}

#closeDrawer i {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #EDEEEE;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.drawer.open {
    right: 0;
}

.drawer__orders {
    margin-top: 40px;
}

.drawer__button {
    position: absolute;
    bottom: 3em;
    width: calc(100% - 56px);
    margin: 8px;
    padding: 0;
    background-color: #009DE0;
    color: #fff !important;
    border-radius: 8px;
}


.drawer__button--buy {
    font-family: 'Valio Omnes Semibold';
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    padding: 18px;
    color: #fff !important;
    margin: 0 -48px;
}