@import url('https://fonts.cdnfonts.com/css/omnes-2');

@import url(/styles/navbar/navbar.css);
@import url(/styles/navbar/dropdown.css);
@import url(/styles/lines/lines.css);
@import url(/styles/images/images.css);
@import url(/styles/article/article_menu.css);
@import url(/styles/font-awesome/all.css);
@import url(/styles/load/load.css);
@import url(/styles/footer/footer.css);
@import url(/styles/profile/profile.css);
@import url(/styles/blog/blog.css);

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #009DE0;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-corner {
    background-color: red;
}

.cancelToSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'SFProText';
    src: url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Valio Omnes Semibold';
    src: url('ValioOmnes-Semibold.eot');
    src: url('ValioOmnes-Semibold.eot?#iefix') format('embedded-opentype'),
    url('ValioOmnes-Semibold.woff') format('woff'),
    url('ValioOmnes-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}


a {
    text-decoration: none;
    color: #000 !important;
}

.invisible {
    display: none;
}

.text {
    color: #999999;
}

.text-bold {
    font-family: 'Valio Omnes Semibold';
    font-weight: 600;
}

.text__46--profile {
    font-family: 'Valio Omnes Semibold';
    font-size: 46px;
}

.text__46--order {
    font-family: 'Valio Omnes Semibold';
    font-size: 46px;
}

.text-color__white {
    color: white;
}

.text--attention {
    color: rgb(244, 96, 96);
}

.container {
    position: absolute;
    width: 100%;
    height: 4.6em;

    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* container under header */

.container__article-top {
    max-width: 100%;
    padding: 24px 30px 24px 50px;
    border-bottom: 1px solid #DDDDDD;
}

#container__article-menu {
    width: calc(100% - 80px);
    max-width: auto;
    background-color: white;
    overflow-x: auto;
}

.container__article-menu__padding {
    padding: 12px 0px 12px 0px;
}

#container__article-menu:not(.sticky) {
    position: absolute;
    z-index: 90;
}

/* footer container */

.footer__container {
    max-width: 1300px;
    margin: auto;
}

/* profile Container */

.profile__container {
    width: 1170px;
    height: 4.6em;

    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.profile__container--content {
    width: 1150px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

/* blog container */

.blog__container {
    padding: 0;
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    max-height: 2000px;
    overflow-y: auto;
    margin-bottom: 20px;
    flex-direction: column;

}

/* sticky scroll */

.sticky {
    position: fixed;
    top: 74px;
    z-index: 95;
}

.sticky--navbar {
    position: fixed;
    border-bottom: 1px solid #DDDDDD;
}

/* margin left/right */

.ms-l {
    margin-left: auto;
}

.ms-r {
    margin-right: auto;
}

/* padding 1-5 */

.pl-5 {
    padding-left: 5px;
}

/*  */

.menu--form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--form__1 {
    position: relative;
    border: 3px solid #DDDDDD;
    padding: 12px;

    border-radius: 8px;
    min-height: 8.75rem;
    width: 600px;
}

.menu--form__2 {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.menu--form__3 {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.menu--form input {
    color: #000;
    outline: none;
    border: 1px solid #009DE0;
    border-radius: 8px;
    padding: 4px;
    background-color: #fff;
}

/* Медиа-запрос для планшетов и устройств с разрешением до 768px */
@media screen and (max-width: 768px) {
    html {
        font-size: 12px; /* Возвращаем базовый размер шрифта для планшетов */
    }
    .menu-image__settings {
        width: 180px;
    }
}